*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("main-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 0.6rem 0;
}

.nav{
    width: 90%;
    margin:0 auto;
}

.logo{
    width:45px;
    height: 45px;
}

.logo-link{
    padding-left: 1rem;
    width:45px !important;
    height: 45px !important;
    float:left;
}

.nav-list{
    margin: 0;
    padding: 10px 0;
}

.nav-list-item a{
    text-decoration: none;
    padding:0.3rem 0.4rem;
    color:white;
}

.nav-list-item{
    font-size: 20px;
    display:inline;
    list-style: none;
    color:white;
}

.nav-list-item:first-child{
    padding-left:1rem;
}

.toggle-collapse{
    margin-top: 10px;
    float:right;
    width:40px;
    height:auto;
    font-size:16px;
    background-color:transparent;
    color:rgba(255, 255, 255, 0.705);
    border:1px solid rgba(255, 255, 255, 0.705);
    border-radius:2px;
    cursor:pointer;
    display:none;
}

@media screen and (max-width:590px){
    .logo-link{
        display:inline-block;
        float:none;
    }
    .toggle-collapse{
        display:inline-block;
    }
    .nav-list{
        padding: 0;
        color:white;
    }
    
    .nav-list-item{
        display:block;
        list-style: none;
        padding-top:3px;
    }

    .nav-list-item:first-child{
        padding-left:0;
        padding-top:0;
    }

    .navbar-collapse{
        width:100%;
        overflow:hidden;
        text-align: center;
        height: 0vh;
        transition: all 500ms ease;
    }

    .collapse{
        height: 150px;
    }
}

.toggle-collapse:hover{
    color:white;
    border-color: rgba(255, 255, 255);
}

.main-section{
    width:100%;
    height:100vh;
    background: transparent;
}

.title{
    position: absolute;
    top: 42%;
    left:15%;
    color:white;
    font-size:80px;
}

@media only screen and (max-width:900px){
    .title{
        top:42%;
        left:calc(50vw - 277px/2);
    }
}

.offer-section{
    width:100%;
    height: 70vh;
    background-image: url('d6iuhnh-22a84a73-8669-48aa-aaac-47e886276b7c.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-offer{
    text-align: center;
    font-size:40px;
    color:white;
}

.desc{
    color:white;
    text-align: center;
    width:50%;
    margin: 2rem auto 0 auto;
    font-size:21px;
    line-height: 2;
    overflow-wrap: break-word;
}

.offer-icons{
    display: flex;
    width: 50%;
    margin: 2rem auto 0 auto;
    color:white;
    justify-content: center;
}

.icons{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-desc{
    margin-top:0.5rem;
    text-align: center;
}

.first-group, .second-group{
    display: flex;
}

@media only screen and (max-width:1400px){
    .desc{
        font-size:19px;
    }
    .icon{
        width:50px;
        height: 50px;
    }
    .icons-desc{
        font-size:16px;
    }
}
@media only screen and (max-width:1160px){
    .desc{
        font-size:16px;
    }
    .icon{
        width:45px;
        height: 45px;
    }
    .icons{
        padding:0 1.7rem;
    }
    .icons-desc{
        font-size:13px;
    }
}

@media only screen and (max-width:1024px){
    .desc{
        width:70%;
    }
}

@media only screen and (max-width:900px){
    .desc{
        font-size:16px;
        width:70%;
    }
    .icon{
        width:45px;
        height: 45px;
    }
    .icons-desc{
        font-size:13px;
    }
}

@media only screen and (max-width:783px){
    .desc{
        font-size:14px;
    }
    .icon{
        width:40px;
        height: 40px;
    }
    .icons-desc{
        font-size:11px;
    }
}

@media only screen and (max-width:730px){
    .icons{
        padding: 0 1.4rem;
    }
    .desc{
        width:70%;
    }
}

@media only screen and (max-width:688px){
    .icons{
        padding: 0 1.4rem;
    }
    .desc{
        width:85%;
    }
}

@media only screen and (min-width:321px) and (min-height:400px) and (max-width:600px) and (max-height:812px){
    .first-group, .second-group{
        width:80%;
        justify-content: center;
    }

    .offer-section{
        height: 100vh;
    }

    .first-group{
        margin-bottom: 1rem;
    }
    .offer-icons{
        flex-wrap: wrap;
        width:90%;
    }
}

@media only screen and (max-width:320px){
    .first-group, .second-group{
        width:80%;
        justify-content: center;
    }

    .offer-section{
        height: 100vh;
    }

    .first-group{
        margin-bottom: 1rem;
    }
    .offer-icons{
        flex-wrap: wrap;
        width:90%;
    }
    .icon{
        width:35px;
        height: 35px;
    }
    .desc{
        font-size:10px;
    }
}

.about-section{
    width:100%;
    height:70vh;
    background-image: url('sarang-pande-5djt8Pkqdc4-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.897);
    padding: 30px 40px;
}
.title-about{
    text-align:center;
    font-weight: 400;
    font-size:30px;
    margin: 20px 0;
}
.border{
    border: 2px dotted rgb(65, 65, 65);
    padding: 10px 25px;
}

.about-desc{
    text-align:center;
    width:80%;
    margin: 0 auto 20px auto;
    font-size:20px;
    line-height: 2;
    color: rgb(58, 58, 58);
}

@media only screen and (max-width:1440px){
    .card{
        width:60%;
    }
}

@media only screen and (max-width:1135px){
    .card{
        width:70%;
    }
    .about-desc{
        font-size:18px;
    }
}

@media only screen and (max-width:885px){
    .about-desc{
        font-size:15px;
    }

    .border{
        padding: 10px 15px;
    }
}

@media only screen and (max-width:725px){
    .card{
        width:85%;
    }

    .about-desc{
        font-size:15px;
    }

    .border{
        padding: 10px 0;
    }
}

@media only screen and (max-width:500px){
    .card{
        width:100%;
        padding:30px 30px;
    }

    .about-desc{
        font-size:13px;
        width:95%;
    }

    .border{
        padding: 10px 0;
    }
}

@media only screen and (max-width:420px){
    .card{
        width:100%;
        padding:25px 35px;
    }

    .about-desc{
        font-size:13px;
        width:100%;
    }

    .border{
        padding: 0;
        border: none;
    }
}

.footer{
    width: 100%;
    background-color: #111821;
    color:white;
    padding: 40px 0;
}

.social-title{
    text-align:center;
    font-weight: 400;
    font-size:14px;
}

.socials{
    width:70%;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
}

.media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0 10px;
}

.social-logo{
    width:24px;
    height:24px;
}

.social-info{
    font-size:14px;
}

.infos{
    font-size:13px;
    color:white;
    font-weight: 400;
    display:inline-block;
}

.infos:nth-child(2){
    padding: 0 40px 0 40px;
}

.infos:first-child{
    margin-left:25px;
}

.footer-info{
    margin: 0 auto;
    display:flex;
    justify-content: center;
}

@media screen and (max-width:540px){
    .infos{
        font-size:11px;
    }
    .infos:nth-child(2){
        padding: 0 20px 0 20px;
    }
    .social-info{
        font-size:11px;
    }
    .social-title{
        font-size:12px;
    }
}

@media screen and (max-width:430px){
    .infos{
        font-size:9px;
    }
    .infos:nth-child(2){
        padding: 0 15px 0 15px;
    }
    .social-info{
        font-size:9px;
    }
    .social-title{
        font-size:10px;
    }
}

@media screen and (max-width:360px){
    .infos{
        font-size:8px;
    }
    .infos:nth-child(2){
        padding: 0 10px 0 10px;
    }
    .social-info{
        font-size:8px;
    }
    .social-title{
        font-size:10px;
    }
}

.contact-section{
    width: 100%;
    background-image: url("siora-photography-gClIPKFrRjE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 90px 0;
}

.info{
    width:50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.897);
}

.center{
    margin: 0 auto;
}

.contact-header{
    width:100%;
    font-size:30px;
    color:white;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form{
    width:70%;
    background-color: rgba(0, 0, 0, 0.63);
    margin: 0 auto;
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input{
    width:45%;
    padding: 10px 20px;
    font-size:16px;
    margin-bottom: 20px;
}

.ta{
    width:100%;
    resize: none;
    padding: 10px 20px;
}

.ta::placeholder{
    font-size:16px;
}

.btn{
    padding: 10px;
    width: 100%;
    margin-top:20px;
    font-size:20px;
    background-color: rgb(155, 0, 0);
    border: none;
    color:white;
}

@media only screen and (max-width:1400px){
    .input{
        width:44%;
    }
}

@media only screen and (max-width:1140px){
    .input{
        width:43%;
    }
}

@media only screen and (max-width:1000px){
    .input{
        width:42%;
    }
}

@media only screen and (max-width:860px){
    .input{
        width:100%;
    }

    .contact-section{
        padding:60px 0;
    }
}